.products-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.product-image img {
    width: 150px;
    height: 150px;
}

.product-info {
    text-align: center;
}

p {
    margin-bottom: 15px;
}

.add-to-cart-button {
    cursor: pointer;
    font-weight: bold;
    width: 145px;
    height: 2.4rem;
    font-size: 1rem;
}

.add-to-cart-button:hover {
    background-color: #799F0C;
}

.cart-icon {
    margin-left: 0.5rem;
}